<div class="cv-container">
   <header class="header">
    <h1>Ngo Gia Bao</h1>
    <h2>Frontend Developer Intern</h2>
    <div class="contact-info">
        <span>📞 0947094670</span>
        <span>✉️ ngobao0419&#64;gmail.com</span>
        <span>📍 208B, Hà Huy Giáp, Thạnh Lộc, Quận 12, tp Hồ Chí Minh</span>
    </div>
</header>


    <section class="section">
        <h3 class="section-title">Mục tiêu nghề nghiệp</h3>
        <p class="objective">
            Là sinh viên đam mê phát triển phần mềm, tôi muốn ứng tuyển thực tập Frontend Developer để mở rộng thêm kiến
            thức.
            Mong muốn làm việc trong môi trường chuyên nghiệp, tham gia dự án thực tế, nâng cao kỹ năng lập trình.
    </section>

    <section class="section">
        <h3 class="section-title">Dự án nhóm</h3>
        <div class="project-item">
            <div class="project-header">
                <div>
                    <div class="project-title">LaLa Garden - Web bán cây cảnh online</div>
                    <div class="project-subtitle">Thành viên: 5 người</div>
                </div>
                <div class="project-date">2023 - 2024</div>
            </div>
            <div class="project-details">
                <ul>
                    <li>Xây dựng API RESTful bằng ASP.NET Core, bảo mật API bằng JWT, xác thực và phân quyền người dùng
                    </li>
                    <li>CRUD đầy đủ cho cây cảnh, thể loại, đánh giá, đơn hàng, voucher</li>
                    <li>Phân trang thủ công, tìm kiếm nâng cao và tích hợp thanh toán PayPal</li>
                    <li>UI responsive với TailwindCSS</li>
                </ul>
                <div class="tech-stack"><strong>Công nghệ:</strong> Angular, TypeScript, TailwindCSS, .Net Core, Git</div>
                <div class="project-links"><strong>Github: </strong> <a
                        href="https://github.com/TreeStoreWeb">https://github.com/TreeStoreWeb</a></div>
            </div>
        </div>
    </section>

    <section class="section">
        <h3 class="section-title">Dự án cá nhân</h3>
        <div class="project-item">
            <div class="project-header">
                <div class="project-title">MovioPhim - Web xem phim trực tuyến</div>
                <div class="project-date">2024 - 2025</div>
            </div>
            <div class="project-details">
                <ul>
                   <li>Tích hợp API Ophim lấy dữ liệu phim đa dạng, cập nhật liên tục</li>
<li>Angular + lazy loading tăng tốc độ phản hồi</li>
<li>RxJS + async pipe xử lý bất đồng bộ, giảm tải server & UI</li>
<li>UI responsive, tối giản với TailwindCSS</li>
<li>Tìm kiếm phim với debounce, cache tạm thời để giảm gọi API</li>
<li>Skeleton loading hiển thị khung chờ, cải thiện trải nghiệm người dùng</li>

                </ul>
                <div class="tech-stack"><strong>Công nghệ:</strong> Angular, TypeScript, TailwindCSS, PrimeNG, Git</div>
                <div class="project-links"><strong>GitHub: </strong> <a
                        href="https://github.com/honggaj/MovioPhim_Web.git">https://github.com/honggaj/MovioPhim_Web.git</a>
                </div>
            </div>
        </div>

        <div class="project-item">
            <div class="project-header">
                <div class="project-title">Book Store - Hệ thống quản lý sách</div>
                <div class="project-date">2024 - 2025</div>
            </div>
            <div class="project-details">
                <ul>
                    <li>Xây dựng API RESTful ASP.NET Core, bảo mật API bằng JWT, xác thực & phân quyền</li>
                    <li>CRUD sách, thể loại, đánh giá, đơn hàng, voucher</li>
                    <li>Dashboard Admin quản lý dữ liệu & user tổng thể</li>
                    <li>Phân trang, tìm kiếm nâng cao, tích hợp PayPal</li>
                </ul>
                <div class="tech-stack"><strong>Công nghệ:</strong> Angular, TypeScript, TailwindCSS, PrimeNG, .Net Core, Git</div>
                <div class="project-links">
                    <strong>Github: </strong>
                    <a href="https://github.com/honggaj/BookstoreWeb.git">https://github.com/honggaj/BookstoreWeb.git
                    </a> |
                    <a
                        href="https://github.com/honggaj/BookStoreAPI_BE.git">https://github.com/honggaj/BookStoreAPI_BE.git</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <h3 class="section-title">Kỹ năng</h3>
        <div class="skills-grid">
            <div>
                <div class="skill-category">
                    <strong>Ngôn ngữ:</strong> HTML, CSS, JavaScript
                </div>
                <div class="skill-category">
                    <strong>Thư viện giao diện:</strong> Tailwind CSS, PrimeNG
                </div>
                <div class="skill-category">
                    <strong>Framework:</strong> Angular
                </div>
            </div>
            <div>
                <div class="skill-category">
                    <strong>Công cụ:</strong> Git, GitHub, Postman, VS Code
                </div>
                <div class="skill-category">
                    <strong>Kỹ năng khác:</strong> Thiết kế giao diện đáp ứng (Responsive Design), Làm việc nhóm
                </div>
            </div>
        </div>
    </section>




    <section class="section">
        <h3 class="section-title">Học vấn</h3>
        <div class="education-item">
            <div class="education-content">
                <div class="education-title">Trường ĐH Ngoại ngữ - Tin học Thành phố Hồ Chí Minh</div>
                <div class="education-subtitle">Sinh viên năm cuối ngành Công nghệ thông tin</div>
                <div class="education-subtitle">GPA: 3.13/4.0 | TOEIC L-R: 590 (12/2024)</div>

            </div>
            <div class="education-date">2022 - 2025</div>
        </div>
    </section>
</div>